body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  color: currentColor;
  text-decoration: none;
}
.header-nav:hover {
  color: #404bbf;
}
.header-link {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo {
  color: #2e2f42;
}
.logo:hover {
  color: #404bbf;
}
.logo:active {
  text-decoration: underline;
}
.header-list:hover {
  color: #404bbf;
}
.header-list {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.Contacts-link:hover {
  color: #404bbf;
}
.Contacts-link:focus {
  color: #404bbf;
}

.Contacts {
  color: #434455;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  font-style: normal;
}
.hero {
  background-color: #2e2f42;
  text-align: center;
}
.hero-title {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
button {
  font-family: inherit;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  background: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.hero-button:hover,
.hero-button:focus {
  color: #ffffff;
  background-color: #404bbf;
}
.benenefits-title {
  text-align: center;
}
.benenefits-caption {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.benenefits-desc {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-title {
  text-align: center;
}
.team {
  background-color: #f4f4fd;
}
.team-list {
  background-color: #ffffff;
}
.team-title,
.portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.team-caption,
.portfolio-caption {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-desc,
.portfolio-desc {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-link {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.down-logo {
  color: #f4f4fd;
}
footer {
  background-color: #2e2f42;
}
.footer-desc {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
